body {
    background-color: #f0f0f0;
}

.container {
    max-width: 500px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: Lato, sans-serif;
    padding-bottom: 20px;
}

.container > h1 {
    text-align: center;
    padding-top: 40px;
    color: #333333;
    
}

.todo-list li {
    list-style-type: none;
    border-radius: 8px;
    background-color: #e5f1e5;
    max-width: 100%;
    margin: 0 35px 18px 0;
    font-size: 16px;
    padding: 10px 0 16px 5px;
}

.sub-item li  {
    list-style-type: square;
    margin-top: 5px;
}

.sub-item-link {
    text-decoration: none;
    padding-left: 12px;
}

.sub-item-link:link {
    color: green;
}

.sub-item-link:visited {
    color: green;
}

.sub-item-link:hover {
    color: red;
}

.sub-item-link:active {
    color: blue;
}

.sub-item-link:focus {
    text-decoration: underline;
    border: 2px solid blue;
}




